* { box-sizing: border-box; }
body { margin: 0; }

:root {
  --gjs-t-color-primary:#cf549e;
  --gjs-t-color-secondary:#b9227d;
  --gjs-t-color-accent:#ffb347;
  --gjs-t-color-success:#28a745;
  --gjs-t-color-warning:#ffc107;
  --gjs-t-color-error:#dc3545;
}

.gjs-t-body {
  background-color: inherit;
  color: inherit;
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
}

.gjs-t-h1 {
  color: var(--gjs-t-color-secondary);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.gjs-t-h2 {
  color: #601843;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.gjs-t-button {
  background-color: var(--gjs-t-color-primary);
  color: white;
  border-radius: 0.3rem;
}

.gjs-t-link {
  color: var(--gjs-t-color-primary);
  text-decoration: underline;
}

.gjs-t-border {
  border-radius: 0.3rem;
  border-color: #e0e0e0;
}
