* { box-sizing: border-box; }
body { margin: 0; }

:root {
  --gjs-t-color-primary:#cf549e;
  --gjs-t-color-secondary:#b9227d;
  --gjs-t-color-accent:#ffb347;
  --gjs-t-color-success:#28a745;
  --gjs-t-color-warning:#ffc107;
  --gjs-t-color-error:#dc3545;
}

.gjs-t-body {
  background-color: inherit;
  color: inherit;
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
}

.gjs-t-h1 {
  color: var(--gjs-t-color-secondary);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.gjs-t-h2 {
  color: #601843;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.gjs-t-button {
  background-color: var(--gjs-t-color-primary);
  color: white;
  border-radius: 0.3rem;
}

.gjs-t-link {
  color: var(--gjs-t-color-primary);
  text-decoration: underline;
}

.gjs-t-border {
  border-radius: 0.3rem;
  border-color: #e0e0e0;
}



html {
  scroll-behavior: smooth;
}

#irj5 {
  background-color: rgba(34, 29, 36, 1);
}

#ID-root {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

#ID-header {
  height: auto;
  background-color: rgba(135, 66, 149, 1);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  box-shadow: 0px 0px 16px 4px black;
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
}

#io7ov {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
  vertical-align: middle;
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  color: rgba(254, 212, 239, 1);
  backface-visibility: visible;
  text-shadow: 1px 1px 2px rgba(20, 20, 20, 1);
}

#iefgm {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 700;
  vertical-align: middle;
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  color: rgba(245, 255, 223, 1);
  font-size: 2rem;
  letter-spacing: 5px;
  margin-top: 0.2rem;
  text-shadow: 0px 0px 11px rgba(103, 245, 217, 1);
}

#ID-mode {
  background-color: rgba(96, 37, 84, 1);
  min-height: 5rem;
  width: 20rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgba(108, 120, 125, 1);
  border-right-color: rgba(108, 120, 125, 1);
  border-bottom-color: rgba(108, 120, 125, 1);
  border-left-color: rgba(108, 120, 125, 1);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  flex-direction: column;
  position: sticky;
  top: 2px;
  z-index: 10;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.77);
  display: flex;
}

#ID-main {
  background-color: rgba(203, 203, 203, 1);
  min-height: 100px;
  flex-direction: column;
  width: 20rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-top-color: rgba(108, 120, 125, 1);
  border-right-color: rgba(108, 120, 125, 1);
  border-bottom-color: rgba(108, 120, 125, 1);
  border-left-color: rgba(108, 120, 125, 1);
  border-top-style: ridge;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: ridge;
}

#ifw7n {
  flex: 1 1 0%;
}

#ID-slider-global-view-bright {
  display: flex;
}

#id8yd {
  max-width: 60px;
  min-width: 60px;
}

#id8yd-2 {
  max-width: 60px;
  min-width: 60px;
}

#ifw7n-2 {
  flex: 1 1 0%;
  margin-right: 4px;
}

#ID-slider-lamp-view-bright {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.gjs-divider {
  height: 3px;
  width: 100%;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

#ibwmn {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 3px;
  background-color: rgba(28, 3, 11, 0.26);
  width: auto;
}

:root {
  --my-accent: #a52b99;
}

#ihyfm {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 6px;
  background-color: rgba(178, 178, 178, 1);
}

#inv2i {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#i9s3i {
  align-items: center;
  justify-content: flex-end;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex: 1 1 0%;
  gap: 8px;
}

#ij3bp {
  width: 3rem;
  font-family: Tahoma, Geneva, sans-serif;
  padding-left: 4px;
}

#ieiay {
  font-family: Tahoma, Geneva, sans-serif;
}

#i38zjd {
  display: flex;
  align-items: center;
}

#idcvjp {
  width: 3rem;
  font-family: Tahoma, Geneva, sans-serif;
  padding-left: 4px;
}

#is8a1p {
  align-items: center;
  justify-content: flex-end;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex: 1 1 0%;
  gap: 8px;
}

#izw4ae {
  font-family: Tahoma, Geneva, sans-serif;
  width: 100px;
}

#izw4ae-2 {
  font-family: Tahoma, Geneva, sans-serif;
  width: 100px;
}

#ieiay-2 {
  font-family: Tahoma, Geneva, sans-serif;
}

#ij3bp-2 {
  width: 3rem;
  font-family: Tahoma, Geneva, sans-serif;
  padding-left: 4px;
}

#i9s3i-2 {
  align-items: center;
  justify-content: flex-end;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex: 1 1 0%;
  gap: 8px;
}

#idcvjp-2 {
  width: 3rem;
  font-family: Tahoma, Geneva, sans-serif;
  padding-left: 4px;
}

#is8a1p-2 {
  align-items: center;
  justify-content: flex-end;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex: 1 1 0%;
  gap: 8px;
}

#i38zjd-2 {
  display: flex;
  align-items: center;
}

#ikrm7v {
  height: 80px;
  display: none;
}

.proj-inner-pannel {
  background-color: #a8a8a8;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-width: 1px;
  border-radius: 12px;
  border-style: solid;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgba(42, 42, 42, 1);
  border-color: rgba(50, 50, 50, 1);
  display: flex;
  flex-direction: column;
}

.proj-main-panel {
  flex-direction: column;
  gap: 8px;
  display: flex;
  padding: 8px;
}

#ivce09 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 8px;
}

#iqlu7j {
  background-color: rgba(239, 83, 83, 1);
}

.proj-lampcolor-bt {
  font-family: Verdana, Geneva, sans-serif;
  padding: 0.7rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.65);
  border-left-color: rgba(0, 0, 0, 0.65);
  font-weight: 700;
  letter-spacing: 1.2px;
  color: rgba(0, 0, 0, 1);
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
}

#ikp3q2 {
  background-color: rgba(236, 104, 231, 1);
}

#iyzk9p {
  background-color: rgba(234, 170, 68, 1);
}

#i5o082 {
  background-color: rgba(64, 241, 118, 1);
}

#insn96 {
  background-color: rgba(78, 234, 242, 1);
}

#icxn98 {
  background-color: rgba(205, 222, 255, 1);
}

#ID-mode-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
}

#irbcj {
  font-size: 22px;
}

#iwifp {
  font-size: 22px;
}

#iyz7j {
  font-size: 22px;
}

#ID-mode-root-signals {
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  height: 10px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 10px;
}

.proj-mode-bt {
  border-radius: 15px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  margin: 8px;
  background-color: rgba(43, 67, 115, 1);
  color: rgba(164, 208, 246, 1);
  flex: 1 1 0%;
}

.proj-mode-bt-signal {
  flex: 1 1 0%;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  border-radius: 12px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(150, 150, 150, 1);
  border-right-color: rgba(150, 150, 150, 1);
  border-bottom-color: rgba(150, 150, 150, 1);
  border-left-color: rgba(150, 150, 150, 1);
  box-shadow: 1px 2px 5px 0px rgba(48, 48, 48, 1);
}

#i7asiz {
  flex: 1 1 0%;
  background-color: rgba(0, 255, 44, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#ifeoww {
  flex: 1 1 0%;
  background-color: rgba(58, 86, 61, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
}

#imvcqj {
  flex: 1 1 0%;
  background-color: rgba(0, 255, 44, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#ig0guj {
  flex: 1 1 0%;
  background-color: rgba(58, 86, 61, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
}

#i8hxf1 {
  flex: 1 1 0%;
  background-color: rgba(0, 255, 44, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#ih09pk {
  flex: 1 1 0%;
  background-color: rgba(58, 86, 61, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
}

#ID-view-global {
  display: none;
}

#ID-lamp-flicker-content {
  flex-direction: column;
  display: none;
}

#iebqup {
  flex-direction: column;
  display: none;
}

.proj-inner-pannel-header {
  font-weight: 700;
  text-align: right;
  color: rgba(197, 197, 197, 1);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.proj-input-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

#ijy6ax {
  max-width: 60px;
  min-width: 60px;
}

#i05dwi {
  flex: 1 1 0%;
  margin-right: 4px;
}

#ie9egs {
  max-width: 60px;
  min-width: 60px;
}

#igstvh {
  flex: 1 1 0%;
  margin-right: 4px;
}

#i4bmyh {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 4px;
}

#itahq7 {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.proj-input-select {
  width: 8rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-left: 10px;
  background-color: rgba(217, 212, 212, 1);
  font-family: Tahoma, Geneva, sans-serif;
  padding-bottom: 2px;
  font-size: 1em;
}

#iytgdk {
  display: none;
}

input[type=range] {
  accent-color: var(--my-accent);
}

input[type=checkbox] {
  accent-color: var(--my-accent);
  transform: scale(1.2);
  margin: 2px;
}

.proj-input-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proj-input-color input[type="color"] {
  width: 75px;
  height: 26px;
  border-radius: 6px;
  border-width: 2px;
}

.proj-input-color button {
  width: 26px;
  height: 26px;
  font-size: 1em;
  border-radius: 10px;
  border-width: 3px;
  line-height: 0.8em;
}

.proj-input-color-picker-zone {
  align-items: center;
  gap: 6px;
  display: flex;
}

#ID-view-blazar {
  display: none;
}

#id8yd-3 {
  max-width: 60px;
  min-width: 60px;
}

#ifw7n-3 {
  flex: 1 1 0%;
}

#illqvb {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#ID-deck-brightness {
  display: flex;
}

#iq0uxl {
  flex-direction: column;
  display: none;
}

.proj-panel-header {
  padding: 10px;
  font-family: Brush Script MT, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  direction: ltr;
  text-align: right;
  vertical-align: baseline;
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 16px;
  color: rgba(225, 225, 225, 1);
}

#i7g9dv {
  flex-direction: column;
  display: none;
}

#ioo2ys {
  flex-direction: column;
  display: none;
}

#icrdkv {
  flex-direction: column;
  display: flex;
}

#ID-deck-mode-content {
  flex-direction: column;
  display: flex;
}

#iygjbh {
  padding: 10px;
}

#iazont {
  min-width: 60px;
  max-width: 60px;
}

#irxqbh {
  flex: 1 1 0%;
}

#iu3j3b {
  flex: 1 1 0%;
}

#i57unn {
  min-width: 60px;
  max-width: 60px;
}